<ul id='listed_spaces'>
  <% @spaces.each do |space| %>
    <li> Name: <%= space.space_name %>
    </br>
    Host: <%= space.user.name + " " +  space.user.surname %>
    </br>
    Description: <%= space.description %></br>
    Price per night: £<%= '%.2f' % space.price %></li>
    </br>
    Space available between: <%= space.start_date %> and <%=space.end_date%>
    </br>
    <div id='image_space'>
      <img src="<%=space.image_url%>">
    </div>
    <% if current_user %>
      <% unless space.user.id == current_user.id %>
        <form action="/set_space" method="post">
          <input type='hidden' name='space' value="<%=space.id%>">
          <input type="submit" value="Request Space">
        </form>
      <% end %>
    <% end %>
  </br>
  <% end %>
</ul>
