<ul id='listed_spaces'>
  <% @spaces.each do |space| %>
   <li> Name: <%= space.space_name %>
   </br>
    Host: <%= space.user.name + " " +  space.user.surname %>
    </br>
    Description: <%= space.description %></br>
    Price per night: £<%= '%.2f' % space.price %></li>
    </br>
    Space available between: <%= space.start_date %> - <%=space.end_date%>
    </br>
    <form action="/set_space" method="post">
      <input type='hidden' name='space' value="<%=space.id%>">
      <input type="submit" value="Request Space">
    </form>
  </br>
 <% end %>
</ul>
