<ul id='listed_spaces'>
  <% @my_spaces.each do |space| %>
    <li> Name: <%= space.space_name %>
    </br>
    Description: <%= space.description %></br>
    Price per night: £<%= '%.2f' % space.price %></li>
    </br>
    Space available between: <%= space.start_date %> - <%=space.end_date%>
    </br>
    <% if current_user %>
      <form action="/set_space" method="post">
        <input type='hidden' name='space' value="<%=space.id%>">
        <input type="submit" value="Request Space">
      </form>
    <% end %>
  </br>
  <% end %>
</ul>
