<% if current_user %>
  <h3> Your Spaces:</h3>
  <ul id='listed_spaces'>
    <% @my_spaces.each do |space| %>
      <li> Name: <%= space.space_name %>
      </br>
      Description: <%= space.description %></br>
      Price per night: £<%= '%.2f' % space.price %></li>
      </br>
      Space available between: <%= space.start_date %> and <%=space.end_date%>
      </br>
    </br>
    <% end %>
  </ul>
<% else %>
  <h3> Please sign in to view your spaces </h3>
<% end %>
